body {
    width: 150px;
    margin: 15px;
    font-size: 15px;
    font-style: normal;
    background-color: white;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #2462a4;
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;
    line-height: 1.5;
    background-color: #3178b7;
    border-radius: 3px;
}

.btn-group {
    width:100%;
}

.btn-group button {
    background-color: #3178b7; /* Green background */
    border: 1px solid #2462a4; /* Green border */
    color: #fff; /* White text */
    padding: 5px 10px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width: 50%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

.block {
    display: block;
    width: 100%;
}

.advanced-settings {

}

.advanced-settings.hide {
    display: none;
}
